@model Paginacao<Reserva>

<div class="table-responsive">
    <table class="table table-hover">

        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Local</th>
                <th scope="col">Nome</th>
                <th scope="col">Data</th>
                <th scope="col">Usuário</th>
                <th scope="col">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">

            @if (Model?.Data.Count > 0)
            {
                foreach (var item in Model.Data)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Local</td>
                        <td>@item.Nome</td>
                        <td>@item.DataInicio</td>
                        <td>@item.Usuario?.Login</td>
                        <td>@item.Status</td>
                        <td class="text-end">
                            <a class="btn btn-outline-secondary" style="min-width: 42px;" asp-area="" asp-controller="Reserva" asp-action="Detalhes" asp-route-id="@item.Id">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>

<partial name="_PaginacaoPartial" />
