@model Reserva

@{
    ViewData["Title"] = "Reserva";
}

@if (Model is not null)
{
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-6">

                <a class="btn btn-primary m-1 float-end" asp-area="" asp-controller="Reserva" asp-action="Adicionar" asp-route-local="@Model.Local">
                    <span class="h2"><i class="fa-solid fa-plus"></i></span>
                    <p class="h4">Nova</p>
                </a>

                <h1>@Model.Local - @Model.Nome</h1>
                <h3>@Model.Status</h3>

                <form method="post">

                    <input hidden readonly class="reservaid" asp-for="Id" />
                    <input hidden readonly asp-for="UsuarioId" />
                    <input hidden readonly asp-for="Status" />

                    <div class="my-3">
                        <label class="form-label" asp-for="Local"></label>
                        <input class="form-control" asp-for="Local" min="1" max="20"> @* TODO - buscar valor máximo no sistema *@
                        <span asp-validation-for="Local" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Nome"></label>
                        <input class="form-control" asp-for="Nome">
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="DataInicio"></label>
                        <input class="form-control" asp-for="DataInicio">
                        <span asp-validation-for="DataInicio" class="text-danger"></span>
                    </div>
                    @if (Model.DataFim is not null)
                    {
                        <div class="mb-3">
                            <label class="form-label" asp-for="DataFim"></label>
                            <input class="form-control" asp-for="DataFim">
                        </div>
                    }

                    <div class="mb-4">
                        <div class="row">
                            <span class="h4">Adicionar item:</span>
                            <div class="col-7">
                                <select class="form-select item" asp-items="@ViewBag.Itens">
                                    <option value="-1" selected></option>
                                </select>
                            </div>
                            <div class="col-2">
                                <input class="form-control quantidade" type="number" min="1" value="1">
                            </div>
                            <div class="col-3 text-end">
                                <a class="btn btn-primary adicionar"><i class="fa-solid fa-plus"></i> Adicionar</a>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">

                        <div class="reservaitempartial">
                            @await Html.PartialAsync("_ReservaItemPartial", Model.ReservaItens)
                        </div>
                    </div>

                    <button class="btn btn-primary" asp-area="" asp-controller="Reserva" asp-action="Detalhes" asp-route-id="@Model.Id">
                        <i class="fa-solid fa-floppy-disk"></i> Salvar
                    </button>

                    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-calendar-days"></i> Voltar
                    </a>

                </form>

            </div>
        </div>
    </div>
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/reserva/detalhes.js"></script>
}
